// Menu button

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: set-text-color($primary-color);
    @include easeOut;
  }

  // Changes the "open menu" icon to look like "close menu" item
  // With Rotate transformation function
  &.close {
    transform: rotate(180deg);

    .btn-line {
      // select each line

      // Line 1 - rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
        background-color: $secondary-color;
      }
      // line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }

      // Line 3 -rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
        background-color: $secondary-color;
      }
    }
  }
}

// Menu overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  // == menu-branding
  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);

    // get rid off the bullet points in nav list elements
    list-style: none;

    // moves the navigation out of the screen
    // 100% pushes the element from up to botton
    // -100% pushes the element from bottom to up
    // property can be either px or %
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      // Slide the menu from top
      //
      transform: translate3d(0, 0, 0);
    }
  }

  // Branding Column styles
  &-branding {
    background: $primary-color;
    @include easeOut;

    // moves the navigation out of the screen
    // 100% pushes the element from up to botton
    transform: translate3d(0, 100%, 0);

    &.show {
      // Slide the menu from bottom
      //
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/paivik_naamakuva_varillinen.jpg");
      background-size: 250px;
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }

  .nav-item {
    // move the element to left 600px
    transform: translate3d(600px, 0, 0);
    @include easeOut;

    &.show {
      // slide in from right
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    // padding just to top and bottom:
    padding: 1rem 0;
    color: set-text-color($primary-color);
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }
}

// Delay effect: Delay each nav item by 0.1seconds
// same thing as in javascript for(let x=0; i < 4; i++)
@for $x from 1 through 4 {
  // you cannot use directly $x but use this weird wrapper: #{  }
  .nav-item:nth-child(#{$x}) {
    // we want every nav-item to come in different delayed time:
    // fitst after 0.1s, second 0.2s, third 0.3s..etc
    transition-delay: $x * 0.1s;
  }
}
