// widescreens
@include mediaXl {
  // 4 items per row
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktop & Laptop
@include mediaLg {
  // 3 items per row
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets & Small laptops
// and anything below this..
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 27vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background-image: url(../img/paivik_naamakuva_varillinen_small.jpg);
      background-size: 150px;
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";

    grid-template-columns: 1fr;
  }

  // 2 items per row
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Smartfones
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }

  // 1 items per row
  .projects {
    grid-template-columns: 1fr;
  }
}
