// Imports the mixin functions and variables from _config.scss file
@import "config";
@import "menu";
// mobile moved to bottom because we want it to be runned after the main css-content

// Applies to all elements
* {
  /* Border-box: If we use padding, it doesn't affect the width or height of the box */
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  // if it's function you don't hve to use include syntax
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

// Heading
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  // & attach .lg-heading class to all heading elements abowe ==  h1.lg-heading, h2.lg-heading...

  &.lg-heading {
    // default font-size is 16 px, if not changed inside css with html tag (6rem == 6*16)
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    //rbga so background will be transparent
    background: rgba(lighten($primary_color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  // To make the header stick on top of the view always
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  /* height: 100%;*/
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    // no sidebars ever
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: 1fr 1fr 1fr;

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

// Works/Projects page
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // u can use rem or px as unit
  grid-gap: 0.7rem;

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Contact page
.boxes {
  // Let's use flex instead of grid-css
  display: flex;

  // When the content won't fit in to the row the items are stacked into rows
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;

    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);

      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
// You could put these into separate _button.scss file if you want but not mandatory
.btn {
  // Elements are stacked as side by side in same row
  //display: inline-block;

  // Elements are displayed in their own rows and width == 100%
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-light {
  // extend the btn class styles into these substyles btn-light and btn-dark
  @extend .btn;
  background: darken($primary_color, 50);
  color: #fff;
}

.btn-dark {
  // extend the btn class styles into these substyles btn-light and btn-dark
  @extend .btn;
  background: lighten($primary_color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background-color: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
